{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block home_section %}
<section id="hello" class="about-banner bg-mega">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="main_home text-center">
        <div class="about_text">
          <h1 class="text-white text-uppercase">About Us</h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a> </li>
            <li class="active"><a href="{% url 'aboutus' %}">About Us</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section id="feature" class="ab_feature roomy-100">
  <div class="container">
    <div class="row">
      <div class="main_ab_feature">
        <div class="col-md-6">
          <div class="head_title">
            <h2>Story about us</h2>
            <h5><em>We are born at a given moment, in a given place and, like vintage years of wine,
                we have the qualities of the year and of the season of which we are born. Astrology
                does not lay claim to anything more.
              </em></h5>
            <div class="separator_left"></div>
          </div>

          <div class="ab_feature_content wow fadeIn m-top-40">
            <p>Wine is an alcoholic drink made from fermented grapes.Yeast consumes the sugar in the grapes and converts it to ethanol, carbon dioxide, and heat. Different varieties of grapes and strains of yeasts produce different styles of
              wine. These variations result from the complex interactions between the biochemical development of the grape, the reactions involved in fermentation, the terroir, and the production process. Many countries enact legal appellations
              intended to define styles and qualities of wine. These typically restrict the geographical origin and permitted varieties of grapes, as well as other aspects of wine production. Wines not made from grapes include rice wine and fruit
              wines such as plum, cherry, pomegranate, currant and elderberry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
