{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  {% block head %}
  <title></title>
  {% endblock %}
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favicon.ico">

  <!--Google Fonts link-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonticons.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootsnav.css' %}">


  <!--For Plugins external css-->
  <!--<link rel="stylesheet" href="{% static 'css/plugins.css" />-->

  <!--Theme custom css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/colors/maron.css' %}">-->

  <!--Theme Responsive css-->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

  <!-- Preloader -->
  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
        <div class="object"></div>
      </div>
    </div>
  </div>
  <!--End off Preloader -->
  <div class="culmn">
    <!--Home page style-->
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav text-uppercase">
      <!-- Start Top Search -->
      <div class="top-search">
        <div class="container">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
          </div>
        </div>
      </div>
      <!-- End Top Search -->
      <div class="container">
        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
          </ul>
        </div>
        <!-- End Atribute Navigation -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/newlogo.png' %}" class="logo logo-display" alt="">
            <img src="{% static 'images/newlogo.png' %}" class="logo logo-scrolled" alt="">
          </a>
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'aboutus' %}">about</a></li>
            <li><a href="{% url 'contactus' %}">contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    {% block home_section %}

    {% endblock %}
  </div>

  {% block content %}

  {% endblock %}

  <section id="company" class="company bg-light">
    <div class="container">
      <div class="row">
        <div class="main_company roomy-100 text-center">
          <h3 class="text-uppercase">Light's WIne 🍾</h3>
          <p> 7th floor - Palace Building - Lucknow INDIA</p>
          <p> +917905236214 - light@gmail.com</p>
        </div>
      </div>
    </div>
  </section>

  <!-- scroll up-->
  <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
  </div><!-- End off scroll up -->

  <footer id="footer" class="footer bg-mega">
    <div class="container">
      <div class="row">
        <div class="main_footer p-top-40 p-bottom-30">
          <div class="col-md-6 text-left sm-text-center">
            <p class="wow fadeInRight" data-wow-duration="1s">
              Made with
              <i class="fa fa-heart"></i>
              for
              <a target="_blank" href="https://www.hackerearth.com">HackerEarth</a>
              2019. All Rights Reserved
            </p>
          </div>
          <div class="col-md-6 text-right sm-text-center sm-m-top-20">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/">Facebook</a></li>
              <li><a href="https://twitter.com/">Twitter</a></li>
              <li><a href="https://www.instagram.com/">Instagram</a></li>
              <li><a href="https://www.pinterest.com/">Pinterest</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JS includes -->

  <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

  <script src="{% static 'js/isotope.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/slick.min.js' %}"></script>
  <script src="{% static 'js/jquery.collapse.js' %}"></script>
  <script src="{% static 'js/bootsnav.js' %}"></script>

  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block external_js %}
  {% endblock %}
</body>

</html>
